.custom-width {
    width: 100%; /* or whatever width you want */
    margin: auto; /* to center the input boxes */
}

.card {
    width: 75%;
}

.form-group {
    margin-bottom: 10px; /* or whatever bottom margin you want */
}

form {
    height: 400px; /* or whatever height you want */
}

.dark-blue{
    background-color: #1C2728; /* Navy Blue */
    color: #ffffff; /* White text color */
}

.dark-blue input {
    background-color: #1B2229; /* Navy Blue */
    border-color: #1B2229; /* This changes the border color of the input fields */
    color: teal; /* This changes the text color of the input fields */
}

.card-body {
    background-color: #1C2728; /* Navy Blue */
    outline: 2px solid #1B2229; /* This changes the outline color of the form */
}

.register-label {
    font-family: Arial, sans-serif; /* or whatever font you want */
    font-size: 35px; /* or whatever size you want */
    padding-left: 170px !important;
}

.btn-primary {
    width: 100%;
    height: 10%;
}

.customColor {
    background-color: #1f2937; /* Navy Blue */
}

a {
    padding-left: 140px;
}

.forgot-password {
    padding-left: 1px;
}