.navbar-brand {
    font-family: 'Arial Black', sans-serif;
    font-size: 30px !important;
}

.nav-link {
    font-family: 'Arial Black', sans-serif;
    font-size: 20px !important;
}

.position-menu {
    margin-top: 8% !important;
}

.btn-secondary.dropdown-toggle {
    background-color: rgba(128, 128, 128, 0);
    border-color: rgba(128, 128, 128, 0);
}

.me-custom {
    left: 1%;
    width: 130px;
}