.navbar-brand {
    font-family: 'Arial Black', sans-serif;
    font-size: 30px !important;
}

.nav-link {
    font-family: 'Arial Black', sans-serif;
    font-size: 20px !important;
}

.position-menu {
    margin-top: 8% !important;
}

.btn-secondary.dropdown-toggle {
    background-color: rgba(128, 128, 128, 0);
    border-color: rgba(128, 128, 128, 0);
}

.me-custom {
    left: 1%;
    width: 130px;
}

.nav-item:hover {
    background-color: rgba(126, 123, 123, 0.5) !important; /* 50% opacity */
    border-radius: 8px !important;
    transition: color 1s ease, background-color 1s ease !important;
}