.custom-width {
    width: 100%; /* or whatever width you want */
    margin: auto; /* to center the input boxes */
}

.card {
    width: 100%; /* Full width on smaller screens */
}

/* Media query for laptop screens */
@media (min-width: 1024px) {
    .card {
        width: 85%; /* Adjusted width on larger screens */
        margin-top: 90px;
    }
}

/* Media query for large monitors */
@media (min-width: 1440px) {
    .card {
        width: 75%; /* Further adjusted width on very large screens */
    }
}

.form-group {
    margin-bottom: 10px; /* or whatever bottom margin you want */
    border-radius: 10px !important;
}

form {
    height: 400px; /* or whatever height you want */
}

.dark-blue{
    background-color: #1f2937; /* Navy Blue */
    color: #ffffff; /* White text color */
}

.dark-blue input {
    background-color: #1B2229; /* Navy Blue */
    border-color: #1B2229; /* This changes the border color of the input fields */
    color: teal; /* This changes the text color of the input fields */
}

.card-body {
    background-color: #1f2937; /* Navy Blue */
    outline: 2px solid #1B2229; /* This changes the outline color of the form */
    border-radius: 1px !important;
}

.register-label {
    font-family: Arial, sans-serif; /* or whatever font you want */
    font-size: 35px; /* or whatever size you want */
    padding-left: 150px !important;
}

.btn-primary {
    width: 100%;
    height: 10%;
}

a {
    padding-left: 140px;
}